<body>
   <!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>SignUp</h1>

				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================SignUp Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">

				<div class="col-6 mx-auto ">
					<div class="login_form_inner">
						<h3>Create Account</h3>
						<form class="row login_form" action="/signUp" method="post">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="Username" name="username"
									placeholder="Username" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="Email" name="email" placeholder="Email"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
							<div class="col-md-12 form-group">
								<input type="tel" class="form-control" id="Phone" name="phone"
									placeholder="Phone number" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Phone number'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="Password" name="password"
									placeholder="Password" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Password'">
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Sign Up</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End SignUp Box Area =================-->
</body>